body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    padding: 10px;
  }
  
  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  .top-menu button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .main-content {
    display: flex;
  }
.language-selection {
    margin-top: 20px;
    text-align: center;
  }
  
  .language-box {
    background-color: #38D200;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .language-text {
    color: #FFFFFF;
    font-size: 16px;
  }
  
  .language-select {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  .proceed-btn {
    background-color: #38D200;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .proceed-btn:hover {
    background-color: #2C8C00;
  }
  